<% if can? :update, @venue %>
<li><b>Admin Links:</b></li>
  <li class="span4"><%= link_to "Delete Venue", venue_path(params[:id]), method: "delete" %></li>
  <li class="span4"><%= link_to "Edit Venue", edit_venue_path %> </li>

<% else %>

<li><b>Advertisement:</b></li>
    <li class="span4">
     <script type="text/javascript"><!--
google_ad_client = "ca-pub-5928836225298236";
/* Cheap Drunk Venues */
google_ad_slot = "5554647790";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
    </li>

<% end %>